@tailwind base;
/* Write your global styles here, in PostCSS syntax */
body {
  --cipria: #FCF2F5;
  --midnight: #32334E;
  --brightGreen: #90FFCC;
  --skyBlue: #784CFB;
  --lobster: #D15B1B;
  color: var(--midnight);
  background-color:  var(--cipria);
}
@tailwind components;
@tailwind utilities
